<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">welcome to admin, <%= current_user.name.split(' ').first.downcase %></h3>
  </div>

  <div class="panel-body">

    <h4>users:</h4>

    <% @parents.order('id asc').each do |parent| %>
      <%= parent.id %>. <%= link_to parent.name, admin_path(parent) %>
      <br>
    <% end %>

  </div>
