<div class="panel panel-default">

  <div class="panel-heading">

    <h3 class="panel-title">welcome admin <%= current_user.name.split(' ').first.downcase %></h3>
  </div>

  <div class="panel-body">

    <h4>users:</h4>

    <% @parents.each do |parent| %>
      <%= parent.name %>
    <% end %>

  </div>
