<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">about</h3>
  </div>

  <div class="panel-body">

    <h4>parental is about getting stuff done</h4>

    <br>

    <strong>you have lots of things to remember to do</strong>

    <br><br>

    <em>
      did you get the groceries? did you pick up the new baseball helmet? did you sign up for the after school activity? what about dinner tonight, school lunch tomorrow and the birthday cake for the weekend?
    </em>

    <br><br>

    <strong>parental is a free resource to help you organize your things to do</strong>

    <br><br>

    &rarr; create an account and start adding your todos to your profile

    <br>

    &rarr; each todo is embedded with google maps so you can easily get directions

    <br>

    &rarr; add tasks for each todo

    <br>

    &rarr; go ahead and mark each task done when you finish it

    <br>

    &rarr; and feel the <em>great relief</em> of marking an entire todo finally done

    <br><br>

    get started today easily by <%= link_to 'signing up', new_registration_path %> with your facebook account.

  </div>
