<div class="panel panel-default">

  <div class="panel-heading">
  </div>

<div class="todo-content">
    
  </div>

<div class="panel panel-default">

  

    <div class="panel-body">
      <%= link_to 'return to your todos', parent_path %>
      <br>
      <%= link_to 'logout', logout_path %>
  </div>
