<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">welcome.</h3>
  </div>

  <div class="panel-body">

    <div id="welcome-msg">
      <img src="<%= current_user.image %>">&nbsp;<em>hi, <%= current_user.name.split(' ').first.downcase %>. what would you like to do?</em>
    </div>

    <br><br>

    <div class="todo-content">

    
    </div>

      <br>

    </div>
  </div>

